<header>
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
      <img
        src="../../../assets/images/image-not-available-22798609-2160697675.jpg"
        alt=" Angular v20 PrimeNG"
        style="max-width: 100px;">
    </ng-template>
    <ng-template pTemplate="end">
      <div>
        <button type="button" pButton title="Create chapter" class="p-button-outlined p-button-info">
          <em class="pi pi-language"></em>
        </button>
        <button type="button" pButton title="Print list of chapters" class="p-button-outlined p-button-success">
          <em class="pi pi-print"></em>
        </button>
      </div>
    </ng-template>
  </p-menubar>
</header>
